{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="delete-card">


    <h2>Delete Password Entry</h2>

    <p>Are you sure you want to delete 
        <b>{{ entry.password_name }}</b> ?
    </p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="delete-btn">Yes, Delete</button>
    </form>

    <a href="{% url 'dashboard' %}" class="back-link">← Back to Dashboard</a>

</div>


</div>

{% endblock %}
